.columns {
    height: 100%;
}
.column {
    padding-right: 0px;
}
.container {
    height: 100%;
    border-top-color: black;
    border-top-width: 1px;
    border-top-style: solid;
    padding: 1%;
    width: 100%;
}
.sidebar {
    width: 18%;
}