.main {
  height: 100%;
}
.columns {
    height: 100vh;
}
.general-wrapper {
  min-width: 90%;
  padding-left: 1vw;
}
.sidebar {
  padding-right: 0;
}
.top-wrapper {
  display:flex;
  background-color: #272323;
  flex-grow: 1;
  margin-top: 0.75rem;
  border-color: green;
  border-width: 1px;
  border-style: solid;
  overflow-y: scroll;
  color: white;
}
.title {
  color: white;
  margin-top: 0;
}

@media only screen and (max-width: 770px) {
  .sidebar {
    display: none;
  }
  .columns {
    width: 100%;
  }
  .general-wrapper {
    padding-left: 20px;
  }
  .top-wrapper {
    height: 100%;
  }
}