.nav {
    margin-bottom: 0 !important;
    min-height: 3.25rem;
    background-color: #edaca2;
    display: flex;
    justify-content: space-around;
    line-height: 50px;
}
.nav-title {
  font-size: 20px;
  font-weight: bold;
}
@media only screen and (max-width: 770px) {
  .nav {
    display: flex;
    padding: 0px 30px;
  }
}