.commandopts {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

.select {
  margin: 12px;
  color: #272727;
}

.select select {
  border-color: green;
  background-color: #272727;
  color: white;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #ab47bc;
}

.delete::after, .delete::before{
  background-color: #ab47bc;
}

.message {
  width: 40vw;
}
  
h3, p, .form-control, .simple-select {
  color: white;
}

.MuiSelect-select.MuiSelect-outlined.MuiOutlinedInput-input.MuiInputBase-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: white;
}